Repository bobmatnyc/ai-code-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, package-json-check, import-path-check, config-validation

typescript-check:
  name: TypeScript type check
  entry: pnpm run build:types
  language: system
  pass_filenames: false

package-json-check:
  name: Package.json validation
  entry: node -e "JSON.parse(require('fs').readFileSync('package.json', 'utf8'))"
  language: system
  pass_filenames: false

import-path-check:
  name: Import path validation
  entry: bash -c 'if grep -r "from.*utils/files/" src/ --include="*.ts" --include="*.js"; then echo "❌ Found deprecated import paths. Files have been moved to main utils directory."; exit 1; fi'
  language: system
  pass_filenames: false

config-validation:
  name: Configuration validation
  entry: bash -c 'if grep -r "import.*envLoader" src/ --include="*.ts" --include="*.js" | grep -v "// @deprecated"; then echo "⚠️  Consider using unifiedConfig instead of envLoader for new code."; fi'
  language: system
  pass_filenames: false
  verbose: true

docs: update CHANGELOG for v4.6.4 security release
  CHANGELOG.md
Due: none

chore: release v4.6.4
  CHANGELOG.md
  package.json
  scripts/model-maps.js
  src/version.ts
Due: typescript-check, package-json-check, import-path-check, config-validation

fix(ci): handle existing releases gracefully in workflow
  .github/workflows/release.yml
Due: none

chore: release v4.6.5
  CHANGELOG.md
  package.json
Due: package-json-check

fix: add 'google' provider alias for Gemini models (#86)
  docs/research/issue-86-analysis.md
  scripts/model-maps.js
  src/__tests__/clients/utils/modelMaps.test.ts
  src/clients/utils/modelMaps/functions.ts
  src/version.ts
Due: typescript-check, import-path-check, config-validation

fix: surface API failures in comprehensive review instead of empty report
  docs/research/comprehensive-review-0-tokens-rca-2026-02-22.md
  src/clients/openRouterClient.ts
  src/strategies/MultiPassReviewStrategy.ts
  src/utils/review/consolidateReview.ts
Due: typescript-check, import-path-check, config-validation

fix: infer correct context window for OpenRouter-proxied models (#86)
  docs/research/openrouter-context-window-resolution-2026-02-22.md
  src/__tests__/clients/utils/modelMaps.test.ts
  src/clients/utils/modelMaps/functions.ts
Due: typescript-check, import-path-check, config-validation

chore: release v4.6.6
  CHANGELOG.md
  package.json
  scripts/model-maps.js
  src/version.ts
Due: typescript-check, package-json-check, import-path-check, config-validation

refactor: update outdated prompt references and add modern security concerns (#90)
  promptText/common/variables/css-frameworks.json
  promptText/common/variables/framework-versions.json
  promptText/frameworks/flutter/security.hbs
  promptText/frameworks/nextjs/best-practices.hbs
  promptText/languages/generic/security-review.hbs
  promptText/languages/go/best-practices.hbs
  promptText/languages/go/security-review.hbs
  promptText/languages/java/best-practices.hbs
  promptText/languages/php/architectural-review.hbs
  promptText/languages/python/architectural-review.hbs
  promptText/languages/python/best-practices.hbs
  promptText/languages/ruby/architectural-review.hbs
  promptText/languages/ruby/security-review.hbs
  promptText/languages/rust/best-practices.hbs
  promptText/languages/typescript/best-practices.hbs
  promptText/languages/typescript/security-review.hbs
  src/prompts/bundledPrompts.ts
Due: typescript-check, import-path-check, config-validation

refactor: standardize output formats across all bundled prompts (#90)
  src/prompts/bundledPrompts.ts
Due: typescript-check, import-path-check, config-validation

refactor: optimize bundled prompts for token efficiency (#90)
  src/prompts/bundledPrompts.ts
Due: typescript-check, import-path-check, config-validation

docs: update CHANGELOG and README for v4.6.7 prompt modernization release
  CHANGELOG.md
  README.md
Due: none

chore: update build number and version metadata to build 3
  build-number.json
  src/version.ts
Due: typescript-check, import-path-check, config-validation

chore: release v4.6.7
  CHANGELOG.md
  docs/research/output-format-inconsistency-analysis-2026-02-22.md
  docs/research/prompt-outdated-references-audit-2026-02-22.md
  mcp-vector-search-ai-integration-issue.md
  package.json
  scripts/model-maps.js
  src/version.ts
Due: typescript-check, package-json-check, import-path-check, config-validation

docs: consolidate duplicate CHANGELOG entry for v4.6.7
  CHANGELOG.md
Due: none

Add skip-key-check option to argumentParser
  src/cli/argumentParser.ts
Due: typescript-check, import-path-check, config-validation

Fix Gemini client and API key health check
  src/clients/implementations/geminiClient.ts
  src/utils/apiKeyHealthCheck.ts
Due: typescript-check, import-path-check, config-validation

feat: add --stdout option to CLI
  src/cli/argumentParser.ts
  src/core/OutputManager.ts
  src/core/handlers/OutputHandler.ts
  src/types/review.ts
Due: typescript-check, import-path-check, config-validation

address code review comments: refactor output handling to avoid magic strings
  src/core/OutputManager.ts
  src/core/handlers/OutputHandler.ts
  src/types/review.ts
Due: typescript-check, import-path-check, config-validation

fix(#91,#93,#96): wire --skip-key-check flag, respect custom Gemini endpoint, add --stdout option
  build-number.json
  src/cli/argumentParser.ts
  src/clients/geminiClient.ts
  src/clients/openRouterClient.ts
  src/core/handlers/OutputHandler.ts
  src/prompts/bundledPrompts.ts
  src/strategies/MultiPassReviewStrategy.ts
  src/types/review.ts
  src/utils/apiKeyHealthCheck.ts
  src/utils/review/consolidateReview.ts
  src/utils/templateLoader.ts
  src/version.ts
Due: typescript-check, import-path-check, config-validation

chore: release v4.6.8
  CHANGELOG.md
  package.json
  scripts/model-maps.js
  src/version.ts
Due: typescript-check, package-json-check, import-path-check, config-validation

feat: add HTML table output format for GUI/web clients
  build-number.json
  src/__tests__/formatters/markdownTableToHtml.test.ts
  src/cli/argumentParser.ts
  src/core/ConfigurationService.ts
  src/formatters/outputFormatter.ts
  src/formatters/utils/markdownTableToHtml.ts
  src/lib/index.ts
  src/mcp/tools/CodeReviewTool.ts
  src/mcp/types/index.ts
Due: typescript-check, import-path-check, config-validation

refactor(#90): consolidate to single HBS prompt system, remove bundled string literals
  build-number.json
  docs/research/completion-tables-html-rendering-2026-04-15.md
  docs/research/prompt-system-phase2-scope-2026-04-15.md
  promptText/languages/generic/comprehensive-review.hbs
  promptText/languages/python/consolidated-review.hbs
  promptText/languages/typescript/comprehensive-review.hbs
  scripts/model-maps.js
  src/prompts/UnifiedPromptManager.ts
  src/prompts/bundledPrompts.ts
  src/prompts/index.ts
  src/prompts/templates/extract-patterns-review.md
  src/prompts/templates/quick-fixes-review.md
  src/prompts/templates/security-review.md
  src/utils/promptTemplateManager.ts
  src/utils/templateLoader.ts
  src/version.ts
Due: typescript-check, import-path-check, config-validation

chore: archive project, add deprecation announcement and trusty-analyze migration guide
  CHANGELOG.md
  DEPRECATED.md
  README.md
  docs/GITHUB_RELEASE_FINAL.md
Due: none

Path conditions:
  typescript-check: any of: \.(ts|js)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  ai-code-review-docs/.*|
  coverage/.*|
  \.pnpm-store/.*
)$

  package-json-check: any of: package\.json$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  ai-code-review-docs/.*|
  coverage/.*|
  \.pnpm-store/.*
)$

  import-path-check: any of: \.(ts|js)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  ai-code-review-docs/.*|
  coverage/.*|
  \.pnpm-store/.*
)$

  config-validation: any of: \.(ts|js)$, but not: (?x)^(
  dist/.*|
  node_modules/.*|
  \.git/.*|
  ai-code-review-docs/.*|
  coverage/.*|
  \.pnpm-store/.*
)$

